<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andre.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/admin"
        android:label="Administrador de empleados"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeOne">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name=".Usuario" />
        <activity
            android:name=".HorasExtras"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".ListaEmpleados"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".Ocupacion"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".HorarioDeTrabajo"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".usuario_normal"
            android:theme="@style/AppThemeTwo"></activity>
        <activity
            android:name=".Administradores"
            android:theme="@style/AppThemeTwo"></activity>
    </application>

</manifest> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" --><!-- android:theme="@style/AppThe" -->
